body {
            background-color: #720E07;
            color: #EECF6D;
            text-align: center;
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 60px;
        }

        p {
            font-size: 20px;
            color: #45050C;
        }
/* 
color pallet:          <br> 
Jasmine yellow #EECF6D <br> 
Golden Bronze  #D5AC4E <br> 
Golden Earth   #8B6220 <br> 
Molten Lava    #720E07 <br> 
Night Bordeaux #45050C <br> 
*/
